<a href="https://colab.research.google.com/github/Colsai/Coursera-Data-Science-Practice/blob/master/DATA602_Small_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chicago Public Schools Revisited
## Machine Learning Models that can predict school quality based on graduation rates.
## Grouping by clusters, and creating analyzing performance with KNN, etc.
## DATA602 | Krishnamoorthy

In [ ]:
#Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import time
from statsmodels.graphics.gofplots import qqplot
import sklearn

%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#Import each dataset (Chicago Public Schools)
start_time = time.time()

cps_1516_df = pd.read_csv("https://data.cityofchicago.org/api/views/fvrx-esxp/rows.csv?accessType=DOWNLOAD&bom=true&format=true")

dur = time.time()- start_time

print(f"{round(dur,3)}s")

4.685s

In [ ]:
#Small function for displaying many elements in a list in-line
def show_all(input_list, line_len = 3):
    num_in_line = 0

    for elem in input_list:
        if num_in_line > line_len - 1:
            print(f"")
            print(elem, end = ', ')
            num_in_line = 0
        
        else:
            print(elem, end = ', ')
        
        num_in_line += 1

In [ ]:
#Introduce the four years' datasets
all_dfs = [cps_1516_df]

for dataframe in all_dfs:
    print(f"elem:{dataframe.size} | cols:{(dataframe.shape)}")

elem:102510 | cols:(670, 153)
elem:106421 | cols:(661, 161)
elem:107743 | cols:(661, 163)
elem:119028 | cols:(654, 182)

In [ ]:
#Drop "," and replace Columns as 'int' for cps_1718 and cps_1819
cps_1718_df['School_ID'] = cps_1718_df['School_ID'].apply(lambda x:int(x.replace(",","")))
cps_1819_df['School_ID'] = cps_1819_df['School_ID'].apply(lambda x:int(x.replace(",","")))

#Merge the datasets together. (Outer join to keep all data)
df_1517 = cps_1516_df.merge(cps_1617_df, how = "outer", on="School_ID", suffixes=('_1516','_1617'))
df_1719 = cps_1718_df.merge(cps_1819_df, how = "outer",  on = "School_ID",suffixes = ('_1718','_1819'))

#Join the data again
full_df = df_1517.merge(df_1719, how = "outer", on="School_ID")

In [ ]:
full_df

     School_ID  ... Growth_SAT_Math_Grade_11_School_Lbl
0       610547  ...                                37th
1       400097  ...                                90th
2       610515  ...                                 NaN
3       609997  ...                                 NaN
4       609678  ...                                50th
..         ...  ...                                 ...
673     610592  ...                                 NaN
674     610591  ...                                 NaN
675     610593  ...                                 NaN
676     610594  ...                                 NaN
677     400181  ...                                 NaN

[678 rows x 656 columns]

In [ ]:
full_df.shape[0]*full_df.shape[1]

444768

In [ ]:
cps_1819_df.isna().sum()

School_ID                                   0
Short_Name                                  0
Long_Name                                   0
School_Type                                 0
Primary_Category                            0
                                         ...
Growth_PSAT_Math_Grade_10_School_Lbl      522
Growth_SAT_Reading_Grade_11_School_Pct    519
Growth_SAT_Reading_Grade_11_School_Lbl    519
Growth_SAT_Math_Grade_11_School_Pct       519
Growth_SAT_Math_Grade_11_School_Lbl       519
Length: 182, dtype: int64

In [ ]:
#Let's look at the columns first
show_all(cps_1819_df.columns)

School_ID, Short_Name, Long_Name,
School_Type, Primary_Category, Address,
City, State, Zip,
Phone, Fax, CPS_School_Profile,
Website, Progress_Report_Year, Blue_Ribbon_Award_Year,
Excelerate_Award_Gold_Year, Spot_Light_Award_Year, Improvement_Award_Year,
Excellence_Award_Year, Student_Growth_Rating, Student_Growth_Description,
Growth_Reading_Grades_Tested_Pct_ES, Growth_Reading_Grades_Tested_Label_ES, Growth_Math_Grades_Tested_Pct_ES,
Growth_Math_Grades_Tested_Label_ES, Student_Attainment_Rating, Student_Attainment_Description,
Attainment_Reading_Pct_ES, Attainment_Reading_Lbl_ES, Attainment_Math_Pct_ES,
Attainment_Math_Lbl_ES, Culture_Climate_Rating, Culture_Climate_Description,
School_Survey_Student_Response_Rate_Pct, School_Survey_Student_Response_Rate_Avg_Pct, School_Survey_Teacher_Response_Rate_Pct,
School_Survey_Teacher_Response_Rate_Avg_Pct, School_Survey_Parent_Response_Rate_Pct, School_Survey_Parent_Response_Rate_Avg_Pct,
Healthy_School_Certification, Healthy_School_Certification_Description, Creative_School_Certification,
Creative_School_Certification_Description, NWEA_Reading_Growth_Grade_3_Pct, NWEA_Reading_Growth_Grade_3_Lbl,
NWEA_Reading_Growth_Grade_4_Pct, NWEA_Reading_Growth_Grade_4_Lbl, NWEA_Reading_Growth_Grade_5_Pct,
NWEA_Reading_Growth_Grade_5_Lbl, NWEA_Reading_Growth_Grade_6_Pct, NWEA_Reading_Growth_Grade_6_Lbl,
NWEA_Reading_Growth_Grade_7_Pct, NWEA_Reading_Growth_Grade_7_Lbl, NWEA_Reading_Growth_Grade_8_Pct,
NWEA_Reading_Growth_Grade_8_Lbl, NWEA_Math_Growth_Grade_3_Pct, NWEA_Math_Growth_Grade_3_Lbl,
NWEA_Math_Growth_Grade_4_Pct, NWEA_Math_Growth_Grade_4_Lbl, NWEA_Math_Growth_Grade_5_Pct,
NWEA_Math_Growth_Grade_5_Lbl, NWEA_Math_Growth_Grade_6_Pct, NWEA_Math_Growth_Grade_6_Lbl,
NWEA_Math_Growth_Grade_7_Pct, NWEA_Math_Growth_Grade_7_Lbl, NWEA_Math_Growth_Grade_8_Pct,
NWEA_Math_Growth_Grade_8_Lbl, NWEA_Reading_Attainment_Grade_2_Pct, NWEA_Reading_Attainment_Grade_2_Lbl,
NWEA_Reading_Attainment_Grade_3_Pct, NWEA_Reading_Attainment_Grade_3_Lbl, NWEA_Reading_Attainment_Grade_4_Pct,
NWEA_Reading_Attainment_Grade_4_Lbl, NWEA_Reading_Attainment_Grade_5_Pct, NWEA_Reading_Attainment_Grade_5_Lbl,
NWEA_Reading_Attainment_Grade_6_Pct, NWEA_Reading_Attainment_Grade_6_Lbl, NWEA_Reading_Attainment_Grade_7_Pct,
NWEA_Reading_Attainment_Grade_7_Lbl, NWEA_Reading_Attainment_Grade_8_Pct, NWEA_Reading_Attainment_Grade_8_Lbl,
NWEA_Math_Attainment_Grade_2_Pct, NWEA_Math_Attainment_Grade_2_Lbl, NWEA_Math_Attainment_Grade_3_Pct,
NWEA_Math_Attainment_Grade_3_Lbl, NWEA_Math_Attainment_Grade_4_Pct, NWEA_Math_Attainment_Grade_4_Lbl,
NWEA_Math_Attainment_Grade_5_Pct, NWEA_Math_Attainment_Grade_5_Lbl, NWEA_Math_Attainment_Grade_6_Pct,
NWEA_Math_Attainment_Grade_6_Lbl, NWEA_Math_Attainment_Grade_7_Pct, NWEA_Math_Attainment_Grade_7_Lbl,
NWEA_Math_Attainment_Grade_8_Pct, NWEA_Math_Attainment_Grade_8_Lbl, School_Survey_Involved_Families,
School_Survey_Supportive_Environment, School_Survey_Ambitious_Instruction, School_Survey_Effective_Leaders,
School_Survey_Collaborative_Teachers, School_Survey_Safety, Suspensions_Per_100_Students_Year_1_Pct,
Suspensions_Per_100_Students_Year_2_Pct, Suspensions_Per_100_Students_Avg_Pct, Misconducts_To_Suspensions_Year_1_Pct,
Misconducts_To_Suspensions_Year_2_Pct, Misconducts_To_Suspensions_Avg_Pct, Average_Length_Suspension_Year_1_Pct,
Average_Length_Suspension_Year_2_Pct, Average_Length_Suspension_Avg_Pct, Behavior_Discipline_Year_1,
Behavior_Discipline_Year_2, School_Survey_School_Community, School_Survey_Parent_Teacher_Partnership,
School_Survey_Quality_Of_Facilities, Student_Attendance_Year_1_Pct, Student_Attendance_Year_2_Pct,
Student_Attendance_Avg_Pct, Teacher_Attendance_Year_1_Pct, Teacher_Attendance_Year_2_Pct,
Teacher_Attendance_Avg_Pct, One_Year_Dropout_Rate_Year_1_Pct, One_Year_Dropout_Rate_Year_2_Pct,
One_Year_Dropout_Rate_Avg_Pct, Other_Metrics_Year_1, Other_Metrics_Year_2,
Freshmen_On_Track_School_Pct_Year_2, Freshmen_On_Track_CPS_Pct_Year_2, Freshmen_On_Track_School_Pct_Year_1,
Freshmen_On_Track_CPS_Pct_Year_1, Graduation_4_Year_School_Pct_Year_2, Graduation_4_Year_CPS_Pct_Year_2,
Graduation_4_Year_School_Pct_Year_1, Graduation_4_Year_CPS_Pct_Year_1, Graduation_5_Year_School_Pct_Year_2,
Graduation_5_Year_CPS_Pct_Year_2, Graduation_5_Year_School_Pct_Year_1, Graduation_5_Year_CPS_Pct_Year_1,
College_Enrollment_School_Pct_Year_2, College_Enrollment_CPS_Pct_Year_2, College_Enrollment_School_Pct_Year_1,
College_Enrollment_CPS_Pct_Year_1, College_Persistence_School_Pct_Year_2, College_Persistence_CPS_Pct_Year_2,
College_Persistence_School_Pct_Year_1, College_Persistence_CPS_Pct_Year_1, Progress_Toward_Graduation_Year_1,
Progress_Toward_Graduation_Year_2, State_School_Report_Card_URL, Mobility_Rate_Pct,
Chronic_Truancy_Pct, Empty_Progress_Report_Message, School_Survey_Rating_Description,
Supportive_School_Award, Supportive_School_Award_Desc, Parent_Survey_Results_Year,
School_Latitude, School_Longitude, PSAT_Grade_9_Score_School_Avg,
PSAT_Grade_10_Score_School_Avg, SAT_Grade_11_Score_School_Avg, SAT_Grade_11_Score_CPS_Avg,
Growth_PSAT_Grade_9_School_Pct, Growth_PSAT_Grade_9_School_Lbl, Growth_PSAT_Reading_Grade_10_School_Pct,
Growth_PSAT_Reading_Grade_10_School_Lbl, Growth_SAT_Grade_11_School_Pct, Growth_SAT_Grade_11_School_Lbl,
Attainment_PSAT_Grade_9_School_Pct, Attainment_PSAT_Grade_9_School_Lbl, Attainment_PSAT_Grade_10_School_Pct,
Attainment_PSAT_Grade_10_School_Lbl, Attainment_SAT_Grade_11_School_Pct, Attainment_SAT_Grade_11_School_Lbl,
Attainment_All_Grades_School_Pct, Attainment_All_Grades_School_Lbl, Growth_PSAT_Math_Grade_10_School_Pct,
Growth_PSAT_Math_Grade_10_School_Lbl, Growth_SAT_Reading_Grade_11_School_Pct, Growth_SAT_Reading_Grade_11_School_Lbl,
Growth_SAT_Math_Grade_11_School_Pct, Growth_SAT_Math_Grade_11_School_Lbl,

In [ ]:
[col for col in cps_1819_df.columns if "graduation" in col.lower()]

['Graduation_4_Year_School_Pct_Year_2',
 'Graduation_4_Year_CPS_Pct_Year_2',
 'Graduation_4_Year_School_Pct_Year_1',
 'Graduation_4_Year_CPS_Pct_Year_1',
 'Graduation_5_Year_School_Pct_Year_2',
 'Graduation_5_Year_CPS_Pct_Year_2',
 'Graduation_5_Year_School_Pct_Year_1',
 'Graduation_5_Year_CPS_Pct_Year_1',
 'Progress_Toward_Graduation_Year_1',
 'Progress_Toward_Graduation_Year_2']

In [ ]:
corr = cps_1819_df.corr()
n = 20
print(corr['Graduation_4_Year_School_Pct_Year_2'].sort_values()[-n:])
print("")
print(corr['Graduation_4_Year_School_Pct_Year_2'].sort_values()[0:n])

NWEA_Math_Attainment_Grade_5_Pct        0.724554
Student_Attendance_Year_2_Pct           0.729513
NWEA_Math_Attainment_Grade_2_Pct        0.774278
NWEA_Reading_Growth_Grade_4_Pct         0.788195
NWEA_Reading_Attainment_Grade_4_Pct     0.801433
College_Enrollment_School_Pct_Year_1    0.822193
College_Enrollment_School_Pct_Year_2    0.859361
Graduation_5_Year_School_Pct_Year_1     0.928383
NWEA_Reading_Growth_Grade_3_Pct         0.939690
Graduation_5_Year_School_Pct_Year_2     0.950945
Graduation_4_Year_School_Pct_Year_1     0.955821
NWEA_Math_Attainment_Grade_4_Pct        0.967238
Graduation_4_Year_School_Pct_Year_2     1.000000
Excelerate_Award_Gold_Year                   NaN
Excellence_Award_Year                        NaN
Misconducts_To_Suspensions_Avg_Pct           NaN
Teacher_Attendance_Avg_Pct                   NaN
Graduation_5_Year_CPS_Pct_Year_1             NaN
College_Enrollment_CPS_Pct_Year_2            NaN
SAT_Grade_11_Score_CPS_Avg                   NaN
Name: Graduation_4_Year_School_Pct_Year_2, dtype: float64

Blue_Ribbon_Award_Year                    -8.217424e-01
One_Year_Dropout_Rate_Year_2_Pct          -7.955977e-01
Mobility_Rate_Pct                         -7.934036e-01
One_Year_Dropout_Rate_Year_1_Pct          -7.742384e-01
Chronic_Truancy_Pct                       -6.997945e-01
NWEA_Math_Growth_Grade_4_Pct              -6.826037e-01
NWEA_Reading_Growth_Grade_6_Pct           -2.923309e-01
NWEA_Reading_Attainment_Grade_3_Pct       -2.720519e-01
Suspensions_Per_100_Students_Year_1_Pct   -1.832409e-01
NWEA_Reading_Attainment_Grade_6_Pct       -1.818538e-01
School_Survey_Teacher_Response_Rate_Pct   -1.417345e-01
NWEA_Math_Growth_Grade_6_Pct              -1.158554e-01
NWEA_Reading_Growth_Grade_8_Pct           -7.395448e-02
NWEA_Math_Attainment_Grade_3_Pct          -5.775957e-02
School_ID                                 -5.266574e-02
NWEA_Reading_Attainment_Grade_5_Pct       -4.248270e-02
Suspensions_Per_100_Students_Year_2_Pct   -3.918282e-02
Growth_PSAT_Reading_Grade_10_School_Pct   -1.828858e-02
Freshmen_On_Track_CPS_Pct_Year_1          -1.261308e-15
Graduation_5_Year_CPS_Pct_Year_2          -1.235480e-15
Name: Graduation_4_Year_School_Pct_Year_2, dtype: float64

In [ ]:
[col for col in cps_1819_df.head(1)]

['School_ID',
 'Short_Name',
 'Long_Name',
 'School_Type',
 'Primary_Category',
 'Address',
 'City',
 'State',
 'Zip',
 'Phone',
 'Fax',
 'CPS_School_Profile',
 'Website',
 'Progress_Report_Year',
 'Blue_Ribbon_Award_Year',
 'Excelerate_Award_Gold_Year',
 'Spot_Light_Award_Year',
 'Improvement_Award_Year',
 'Excellence_Award_Year',
 'Student_Growth_Rating',
 'Student_Growth_Description',
 'Growth_Reading_Grades_Tested_Pct_ES',
 'Growth_Reading_Grades_Tested_Label_ES',
 'Growth_Math_Grades_Tested_Pct_ES',
 'Growth_Math_Grades_Tested_Label_ES',
 'Student_Attainment_Rating',
 'Student_Attainment_Description',
 'Attainment_Reading_Pct_ES',
 'Attainment_Reading_Lbl_ES',
 'Attainment_Math_Pct_ES',
 'Attainment_Math_Lbl_ES',
 'Culture_Climate_Rating',
 'Culture_Climate_Description',
 'School_Survey_Student_Response_Rate_Pct',
 'School_Survey_Student_Response_Rate_Avg_Pct',
 'School_Survey_Teacher_Response_Rate_Pct',
 'School_Survey_Teacher_Response_Rate_Avg_Pct',
 'School_Survey_Parent_Response_Rate_Pct',
 'School_Survey_Parent_Response_Rate_Avg_Pct',
 'Healthy_School_Certification',
 'Healthy_School_Certification_Description',
 'Creative_School_Certification',
 'Creative_School_Certification_Description',
 'NWEA_Reading_Growth_Grade_3_Pct',
 'NWEA_Reading_Growth_Grade_3_Lbl',
 'NWEA_Reading_Growth_Grade_4_Pct',
 'NWEA_Reading_Growth_Grade_4_Lbl',
 'NWEA_Reading_Growth_Grade_5_Pct',
 'NWEA_Reading_Growth_Grade_5_Lbl',
 'NWEA_Reading_Growth_Grade_6_Pct',
 'NWEA_Reading_Growth_Grade_6_Lbl',
 'NWEA_Reading_Growth_Grade_7_Pct',
 'NWEA_Reading_Growth_Grade_7_Lbl',
 'NWEA_Reading_Growth_Grade_8_Pct',
 'NWEA_Reading_Growth_Grade_8_Lbl',
 'NWEA_Math_Growth_Grade_3_Pct',
 'NWEA_Math_Growth_Grade_3_Lbl',
 'NWEA_Math_Growth_Grade_4_Pct',
 'NWEA_Math_Growth_Grade_4_Lbl',
 'NWEA_Math_Growth_Grade_5_Pct',
 'NWEA_Math_Growth_Grade_5_Lbl',
 'NWEA_Math_Growth_Grade_6_Pct',
 'NWEA_Math_Growth_Grade_6_Lbl',
 'NWEA_Math_Growth_Grade_7_Pct',
 'NWEA_Math_Growth_Grade_7_Lbl',
 'NWEA_Math_Growth_Grade_8_Pct',
 'NWEA_Math_Growth_Grade_8_Lbl',
 'NWEA_Reading_Attainment_Grade_2_Pct',
 'NWEA_Reading_Attainment_Grade_2_Lbl',
 'NWEA_Reading_Attainment_Grade_3_Pct',
 'NWEA_Reading_Attainment_Grade_3_Lbl',
 'NWEA_Reading_Attainment_Grade_4_Pct',
 'NWEA_Reading_Attainment_Grade_4_Lbl',
 'NWEA_Reading_Attainment_Grade_5_Pct',
 'NWEA_Reading_Attainment_Grade_5_Lbl',
 'NWEA_Reading_Attainment_Grade_6_Pct',
 'NWEA_Reading_Attainment_Grade_6_Lbl',
 'NWEA_Reading_Attainment_Grade_7_Pct',
 'NWEA_Reading_Attainment_Grade_7_Lbl',
 'NWEA_Reading_Attainment_Grade_8_Pct',
 'NWEA_Reading_Attainment_Grade_8_Lbl',
 'NWEA_Math_Attainment_Grade_2_Pct',
 'NWEA_Math_Attainment_Grade_2_Lbl',
 'NWEA_Math_Attainment_Grade_3_Pct',
 'NWEA_Math_Attainment_Grade_3_Lbl',
 'NWEA_Math_Attainment_Grade_4_Pct',
 'NWEA_Math_Attainment_Grade_4_Lbl',
 'NWEA_Math_Attainment_Grade_5_Pct',
 'NWEA_Math_Attainment_Grade_5_Lbl',
 'NWEA_Math_Attainment_Grade_6_Pct',
 'NWEA_Math_Attainment_Grade_6_Lbl',
 'NWEA_Math_Attainment_Grade_7_Pct',
 'NWEA_Math_Attainment_Grade_7_Lbl',
 'NWEA_Math_Attainment_Grade_8_Pct',
 'NWEA_Math_Attainment_Grade_8_Lbl',
 'School_Survey_Involved_Families',
 'School_Survey_Supportive_Environment',
 'School_Survey_Ambitious_Instruction',
 'School_Survey_Effective_Leaders',
 'School_Survey_Collaborative_Teachers',
 'School_Survey_Safety',
 'Suspensions_Per_100_Students_Year_1_Pct',
 'Suspensions_Per_100_Students_Year_2_Pct',
 'Suspensions_Per_100_Students_Avg_Pct',
 'Misconducts_To_Suspensions_Year_1_Pct',
 'Misconducts_To_Suspensions_Year_2_Pct',
 'Misconducts_To_Suspensions_Avg_Pct',
 'Average_Length_Suspension_Year_1_Pct',
 'Average_Length_Suspension_Year_2_Pct',
 'Average_Length_Suspension_Avg_Pct',
 'Behavior_Discipline_Year_1',
 'Behavior_Discipline_Year_2',
 'School_Survey_School_Community',
 'School_Survey_Parent_Teacher_Partnership',
 'School_Survey_Quality_Of_Facilities',
 'Student_Attendance_Year_1_Pct',
 'Student_Attendance_Year_2_Pct',
 'Student_Attendance_Avg_Pct',
 'Teacher_Attendance_Year_1_Pct',
 'Teacher_Attendance_Year_2_Pct',
 'Teacher_Attendance_Avg_Pct',
 'One_Year_Dropout_Rate_Year_1_Pct',
 'One_Year_Dropout_Rate_Year_2_Pct',
 'One_Year_Dropout_Rate_Avg_Pct',
 'Other_Metrics_Year_1',
 'Other_Metrics_Year_2',
 'Freshmen_On_Track_School_Pct_Year_2',
 'Freshmen_On_Track_CPS_Pct_Year_2',
 'Freshmen_On_Track_School_Pct_Year_1',
 'Freshmen_On_Track_CPS_Pct_Year_1',
 'Graduation_4_Year_School_Pct_Year_2',
 'Graduation_4_Year_CPS_Pct_Year_2',
 'Graduation_4_Year_School_Pct_Year_1',
 'Graduation_4_Year_CPS_Pct_Year_1',
 'Graduation_5_Year_School_Pct_Year_2',
 'Graduation_5_Year_CPS_Pct_Year_2',
 'Graduation_5_Year_School_Pct_Year_1',
 'Graduation_5_Year_CPS_Pct_Year_1',
 'College_Enrollment_School_Pct_Year_2',
 'College_Enrollment_CPS_Pct_Year_2',
 'College_Enrollment_School_Pct_Year_1',
 'College_Enrollment_CPS_Pct_Year_1',
 'College_Persistence_School_Pct_Year_2',
 'College_Persistence_CPS_Pct_Year_2',
 'College_Persistence_School_Pct_Year_1',
 'College_Persistence_CPS_Pct_Year_1',
 'Progress_Toward_Graduation_Year_1',
 'Progress_Toward_Graduation_Year_2',
 'State_School_Report_Card_URL',
 'Mobility_Rate_Pct',
 'Chronic_Truancy_Pct',
 'Empty_Progress_Report_Message',
 'School_Survey_Rating_Description',
 'Supportive_School_Award',
 'Supportive_School_Award_Desc',
 'Parent_Survey_Results_Year',
 'School_Latitude',
 'School_Longitude',
 'PSAT_Grade_9_Score_School_Avg',
 'PSAT_Grade_10_Score_School_Avg',
 'SAT_Grade_11_Score_School_Avg',
 'SAT_Grade_11_Score_CPS_Avg',
 'Growth_PSAT_Grade_9_School_Pct',
 'Growth_PSAT_Grade_9_School_Lbl',
 'Growth_PSAT_Reading_Grade_10_School_Pct',
 'Growth_PSAT_Reading_Grade_10_School_Lbl',
 'Growth_SAT_Grade_11_School_Pct',
 'Growth_SAT_Grade_11_School_Lbl',
 'Attainment_PSAT_Grade_9_School_Pct',
 'Attainment_PSAT_Grade_9_School_Lbl',
 'Attainment_PSAT_Grade_10_School_Pct',
 'Attainment_PSAT_Grade_10_School_Lbl',
 'Attainment_SAT_Grade_11_School_Pct',
 'Attainment_SAT_Grade_11_School_Lbl',
 'Attainment_All_Grades_School_Pct',
 'Attainment_All_Grades_School_Lbl',
 'Growth_PSAT_Math_Grade_10_School_Pct',
 'Growth_PSAT_Math_Grade_10_School_Lbl',
 'Growth_SAT_Reading_Grade_11_School_Pct',
 'Growth_SAT_Reading_Grade_11_School_Lbl',
 'Growth_SAT_Math_Grade_11_School_Pct',
 'Growth_SAT_Math_Grade_11_School_Lbl']

In [ ]:
target_df = cps_1819_df[['School_ID',
                        'Short_Name',
                        'Long_Name',
                        'School_Type',
                        'Suspensions_Per_100_Students_Year_2_Pct',
                        'Average_Length_Suspension_Year_2_Pct', 
                        'Behavior_Discipline_Year_2', 
                        'Chronic_Truancy_Pct',
                        'One_Year_Dropout_Rate_Year_2_Pct', 
                        'School_Survey_Safety',
                        'Student_Attainment_Rating', 
                        'Graduation_4_Year_School_Pct_Year_2',
                        'Teacher_Attendance_Year_2_Pct',]].dropna()

In [ ]:
target_df

     School_ID  ... Teacher_Attendance_Year_2_Pct
0       609710  ...                          93.3
2       610334  ...                          95.0
9       609712  ...                          94.1
10      610543  ...                          95.9
17      610389  ...                          94.3
..         ...  ...                           ...
598     609738  ...                          94.8
600     609692  ...                          94.1
602     609755  ...                          95.0
618     610383  ...                          94.3
625     609723  ...                          93.9

[82 rows x 13 columns]

In [ ]:
target_df['Student_Attainment_Rating'].value_counts()

FAR BELOW EXPECTATIONS    37
BELOW EXPECTATIONS        19
MET EXPECTATIONS          13
FAR ABOVE EXPECTATIONS     8
ABOVE EXPECTATIONS         5
Name: Student_Attainment_Rating, dtype: int64

In [ ]:
expec = []

for elem in target_df['Student_Attainment_Rating']:
    if elem == 'FAR BELOW EXPECTATIONS':
        expec.append(0)
    elif elem == 'BELOW EXPECTATIONS':
        expec.append(1)
    elif elem == 'MET EXPECTATIONS':
        expec.append(2)
    elif elem == 'ABOVE EXPECTATIONS':
        expec.append(3)
    elif elem == 'FAR ABOVE EXPECTATIONS':
        expec.append(4)

In [ ]:
target_df['Student_Attainment_Numeric'] = expec

In [ ]:
cps_1819_df.columns[0:13]

Index(['School_ID', 'Short_Name', 'Long_Name', 'School_Type',
       'Primary_Category', 'Address', 'City', 'State', 'Zip', 'Phone', 'Fax',
       'CPS_School_Profile', 'Website'],
      dtype='object')

In [ ]:
np.mean(target_df['Graduation_4_Year_School_Pct_Year_2'])

76.07439024390247

In [ ]:
target_df['Meeting_Graduation_Rates'] = [1 if elem >= 85 else 0 for elem in target_df.Graduation_4_Year_School_Pct_Year_2]

In [ ]:
target_df

     School_ID  ... Meeting_Graduation_Rates
0       609710  ...                        0
2       610334  ...                        0
9       609712  ...                        0
10      610543  ...                        0
17      610389  ...                        0
..         ...  ...                      ...
598     609738  ...                        1
600     609692  ...                        1
602     609755  ...                        1
618     610383  ...                        1
625     609723  ...                        0

[82 rows x 15 columns]

In [ ]:
target_df.corr()

                                         School_ID  ...  Meeting_Graduation_Rates
School_ID                                 1.000000  ...                  0.147596
Suspensions_Per_100_Students_Year_2_Pct  -0.052087  ...                 -0.333530
Chronic_Truancy_Pct                       0.027379  ...                 -0.502690
One_Year_Dropout_Rate_Year_2_Pct         -0.037827  ...                 -0.515927
Graduation_4_Year_School_Pct_Year_2       0.091651  ...                  0.739570
Teacher_Attendance_Year_2_Pct             0.284864  ...                  0.268015
Student_Attainment_Numeric               -0.144689  ...                  0.596620
Meeting_Graduation_Rates                  0.147596  ...                  1.000000

[8 rows x 8 columns]

In [ ]:
f_target_df = target_df[['Suspensions_Per_100_Students_Year_2_Pct', 'Average_Length_Suspension_Year_2_Pct', 'Chronic_Truancy_Pct', 'One_Year_Dropout_Rate_Year_2_Pct', 'Teacher_Attendance_Year_2_Pct',  'Student_Attainment_Numeric', 'Meeting_Graduation_Rates']]
target = target_df['Meeting_Graduation_Rates']

In [ ]:
X = f_target_df.drop('Meeting_Graduation_Rates', axis = 1)
y = f_target_df['Meeting_Graduation_Rates']

In [ ]:
len(f_target_df)

82

In [ ]:
#Target DF
f_target_df['Average_Length_Suspension_Year_2_Pct'] = [float(elem.split(" ")[0]) for elem in f_target_df['Average_Length_Suspension_Year_2_Pct']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
try:
    f_target_df['Average_Length_Suspension_Year_2_Pct'] = [float(elem[0:3]) for elem in f_target_df['Average_Length_Suspension_Year_2_Pct']]
except:
    print("(Already Casted as int)")

(Already Casted as int)

In [ ]:
#SK Learn
import sklearn
from sklearn.preprocessing import StandardScaler

X_features = X
X = StandardScaler().fit_transform(X)

ValueError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=0)

In [ ]:
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier(random_state=1)
model1.fit(X_train, y_train)
y_pred1 = model1.predict(X_test)
print(classification_report(y_test, y_pred1))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier(random_state=1)
model2.fit(X_train, y_train)
y_pred2 = model2.predict(X_test)
print(classification_report(y_test, y_pred2))

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
model3 = AdaBoostClassifier(random_state=1)
model3.fit(X_train, y_train)
y_pred3 = model3.predict(X_test)
print(classification_report(y_test, y_pred3))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
model4 = GradientBoostingClassifier(random_state=1)
model4.fit(X_train, y_train)
y_pred4 = model4.predict(X_test)
print(classification_report(y_test, y_pred4))

In [ ]:
y_pred4

In [ ]:
import xgboost as xgb
model5 = xgb.XGBClassifier(random_state=1)
model5.fit(X_train, y_train)
y_pred5 = model5.predict(X_test)
print(classification_report(y_test, y_pred5))

In [ ]:
# Filtering df for only good quality
df_temp = f_target_df[f_target_df['Meeting_Graduation_Rates']==1]
df_temp.describe()

In [ ]:
# Filtering df for only bad quality
df_temp2 = f_target_df[f_target_df['Meeting_Graduation_Rates']==0]
df_temp2.describe()

In [ ]:
import matplotlib
corr = f_target_df.corr()
matplotlib.pyplot.subplots(figsize=(15,10))
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, cmap=sns.diverging_palette(220, 20, as_cmap=True))

In [ ]:
#Clustering
f_target_df.head()

In [ ]:
f_target_df

In [ ]:
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.cluster import AgglomerativeClustering

from sklearn.datasets import make_blobs


from sklearn.metrics import accuracy_score

from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt

from sklearn.metrics import silhouette_score
from sklearn.metrics import v_measure_score, completeness_score, homogeneity_score
from sklearn import cluster, datasets, mixture
from sklearn.neighbors import kneighbors_graph

In [ ]:
f_target_df.columns

In [ ]:
km_cluster = KMeans(3, random_state=9) # We know there are 3 class labels, lets see how well we can seperate them with clustering

In [ ]:
km_clusters = km_cluster.fit_predict(f_target_df.drop('One_Year_Dropout_Rate_Year_2_Pct',axis=1))

In [ ]:
km_clusters

In [ ]:
time.time() - start_time()

In [ ]:
print("Homogeneity", homogeneity_score(f_target_df['One_Year_Dropout_Rate_Year_2_Pct'], km_clusters) ) 
print("Completeness", completeness_score(f_target_df['One_Year_Dropout_Rate_Year_2_Pct'], km_clusters) ) 
print("V-Score", v_measure_score(f_target_df['One_Year_Dropout_Rate_Year_2_Pct'], km_clusters) )