<a href="https://colab.research.google.com/github/Colsai/Coursera-Data-Science-Practice/blob/master/hw5/Assignment_5_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 05


---

## Part 1: Downloading Information, Etc.

Note: You will be using Pandas for this assignment.
1. Explore College Scorecard website - https://collegescorecard.ed.gov/ 
2. Explore College Scorecard Data web page - https://collegescorecard.ed.gov/data/
3. Download and read the documentation - https://collegescorecard.ed.gov/assets/FullDataDocumentation.pdf
4. Download the dataset - https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip (265MB Zip File)
5. Unzip the file into a folder in your personal computer (there are many files, one for each school year)

In [138]:
#Import Packages First (Only Pandas Necessary, but I'll import Numpy too)
import pandas as pd
import numpy as np

data= '/content/drive/My Drive/College Data/MERGED2018_19_PP.csv'
df = pd.read_csv(data)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6806 entries, 0 to 6805
Columns: 1986 entries, UNITID to SCUGFFN_POOLED
dtypes: float64(1902), int64(14), object(70)
memory usage: 103.1+ MB

## Part 2. Using Head/ Tail/ Sample
6. Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset:   


---

    - how many colleges or rows?   
    - how many variables or columns?

In [140]:
#Using len to show the length of the dataset. The header is counted, so -1

print(f"{len(df) - 1} schools.")

6805 schools.

In [141]:
print(f"{df.count()} variables")

UNITID                      6806
OPEID                       6806
OPEID6                      6806
INSTNM                      6806
CITY                        6806
                            ...
SCUGFFN                     6024
POOLYRS_FTFTAIDPCT          6032
FTFTPCTPELL_POOLED_SUPP     5829
FTFTPCTFLOAN_POOLED_SUPP    5829
SCUGFFN_POOLED              6032
Length: 1986, dtype: int64 variables

    - Look at the first 5 colleges   
    - look at the last 5 colleges
    - Look at a random sample of 5 colleges

In [142]:
#Look at the first 5 schools
df.head(5)

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                    0.7287         2698.0
1  100663   105200  ...                    0.5414         4176.0
2  100690  2503400  ...         PrivacySuppressed           24.0
3  100706   105500  ...                    0.4402         2544.0
4  100724   100500  ...                    0.7464         2094.0

[5 rows x 1986 columns]

In [143]:
#Look at the last 5 schools
df.tail(5)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
6801  48511112   157114  ...                       NaN            NaN
6802  48511113   157115  ...                       NaN            NaN
6803  48616901  4204801  ...                       NaN            NaN
6804  49005401  4182601  ...                       NaN            NaN
6805  49146401  4227001  ...                       NaN            NaN

[5 rows x 1986 columns]

In [144]:
#Random sample of 5 schools
df.sample(5)

      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
2644  204264   308400  ...                    0.8433          702.0
52    102368   104700  ...                    0.7833         3729.0
5623  476568  4179900  ...                    0.6591           44.0
4903  447458  3973300  ...                    0.8485           33.0
3932  261685  2339701  ...                    0.6563           64.0

[5 rows x 1986 columns]

In [145]:
df.dtypes

UNITID                        int64
OPEID                         int64
OPEID6                        int64
INSTNM                       object
CITY                         object
                             ...
SCUGFFN                     float64
POOLYRS_FTFTAIDPCT          float64
FTFTPCTPELL_POOLED_SUPP      object
FTFTPCTFLOAN_POOLED_SUPP     object
SCUGFFN_POOLED              float64
Length: 1986, dtype: object

7. Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:
    - UNITID: Instiution ID
    - INSTNM: Institution Name
    - CITY: City where institution is found
    - STABBR: State
    - ZIP: Zip Code
    - ADM_RATE: Admit Rate
    - UGDS: Undergraduate 
    - TUITIONFEE_IN: Tuition Fee
    - MN_EARN_WNE_P10: Treasury AY

In [146]:
smlr_df = df[['UNITID',
             'INSTNM',
             'CITY',
             'STABBR',
             'ZIP',
             'ADM_RATE',
             'UGDS',
             'TUITIONFEE_IN',
             'MN_EARN_WNE_P10']]

8. Download and read the data dictionary file - https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx

9. Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook in a Markdown cell so that the readers of your notebook
will know the meaning of these variables.

10. Explore the smaller data frame
    - Look at the first 10 colleges   
    - look at the last 10 colleges
    - Look at a random sample of 10 colleges  
    - Find and display UMBC 
    - Find Univ. of Maryland College Park
    - Find and display Loyola College Maryland
    - Find and display Johns Hopskins
    - Calculate the min, max, and average in-state tution of the above four institutions.

In [147]:
smlr_df.head(10)

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9744.0             NaN
1  100663  University of Alabama at Birmingham  ...        8568.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10714.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4740.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8404.0             NaN
9  100858                    Auburn University  ...       11276.0             NaN

[10 rows x 9 columns]

In [148]:
smlr_df.tail(10)

        UNITID  ... MN_EARN_WNE_P10
6796  48511107  ...             NaN
6797  48511108  ...             NaN
6798  48511109  ...             NaN
6799  48511110  ...             NaN
6800  48511111  ...             NaN
6801  48511112  ...             NaN
6802  48511113  ...             NaN
6803  48616901  ...             NaN
6804  49005401  ...             NaN
6805  49146401  ...             NaN

[10 rows x 9 columns]

In [149]:
smlr_df.sample(10)

        UNITID  ... MN_EARN_WNE_P10
6697  44467101  ...             NaN
4061    372462  ...             NaN
3216    220598  ...             NaN
6269    491695  ...             NaN
4417    419703  ...             NaN
662     133997  ...             NaN
1780    176354  ...             NaN
1217    155520  ...             NaN
1752    175528  ...             NaN
2523    200332  ...             NaN

[10 rows x 9 columns]

   ## Variable Definitions
    - UNITID
    - INSTNM
    - CITY
    - STABBR
    - ZIP
    - ADM_RATE
    - UGDS
    - TUITIONFEE_IN
    - MN_EARN_WNE_P10

**Note:** 
- Make sure your notebook file is well organized using Markdown and code comments.
- Make sure you use Google Colab

### 10. Filling out stuff
- Find and display UMBC 
- Find Univ. of Maryland College Park
- Find and display Loyola College Maryland
- Find and display Johns Hopskins

In [150]:
# Let's look for them quickly. We know the admit rate for them is low.
# This should also help verify what name UMBC is. All the other names should be the same.

mos_df = focused_df[focused_df["STABBR"] == 'MD'].sort_values(by = 'ADM_RATE')[0:20]

In [160]:
#We found the names from above, so we can directly select them.
md_names = ['University of Maryland-Baltimore County',
            'Johns Hopkins University',
            'University of Maryland-College Park']

#Now we can just add them into the df
md_names_df = smlr_df[smlr_df["INSTNM"].isin(md_names)]

md_names_df

      UNITID  ... MN_EARN_WNE_P10
1410  162928  ...             NaN
1415  163268  ...             NaN
1416  163286  ...             NaN

[3 rows x 9 columns]

### Last Step
- Calculate the min, max, and average in-state tution of the above four institutions.

In [161]:
# We have the data frame. Now we can do the next part.

SyntaxError: ignored

 
 11. Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. Upload this file to your GitHub along with the notebook.

 *Don't try multiple conditions. Use isin*

* df = df[df[category].isin[condition]
* df.to_csv('filename.csv')

In [153]:
#five states colleges
five_states_colleges = smlr_df[smlr_df["STABBR"].isin(["MD", "VA", "DC", "PA", "DE"])]

five_states_colleges.to_csv('Five_States_Colleges.csv')