<a href="https://colab.research.google.com/github/Colsai/Coursera-Data-Science-Practice/blob/master/hw5/Assignment_5_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT 05
# DATA690 WANG

---

**Note:** 
- Make sure your notebook file is well organized using Markdown and code comments.
- Make sure you use Google Colab

## Part 1: Downloading Information, Etc.

Note: You will be using Pandas for this assignment.
1. Explore College Scorecard website - https://collegescorecard.ed.gov/ 
2. Explore College Scorecard Data web page - https://collegescorecard.ed.gov/data/
3. Download and read the documentation - https://collegescorecard.ed.gov/assets/FullDataDocumentation.pdf
4. Download the dataset - https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip (265MB Zip File)
5. Unzip the file into a folder in your personal computer (there are many files, one for each school year)

In [ ]:
#Import Packages First (Only Pandas Necessary, but I'll import Numpy too)
import pandas as pd
import numpy as np

data= '/content/drive/My Drive/College Data/MERGED2018_19_PP.csv'
df = pd.read_csv(data)

In [ ]:
df.info()

---
## Part 2. Using Head/ Tail/ Sample
6. Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset:

- how many colleges or rows?   
- how many variables or columns?

In [ ]:
#Using len to show the length of the dataset. The header is counted

print(f"{len(df)} schools.")

In [ ]:
print(f"{df.count()} variables")

- Look at the first 5 colleges   
- look at the last 5 colleges
- Look at a random sample of 5 colleges

In [ ]:
#Look at the first 5 schools
df.head(5)

In [ ]:
#Look at the last 5 schools
df.tail(5)

In [ ]:
#Random sample of 5 schools
df.sample(5)

In [ ]:
df.dtypes

--- 
## Part 3. Making a Smaller Data Frame

### 7. Since there are too many variables to explore, many of which are not interesting.   
Create a smaller data frame with the following 9 variables:

In [ ]:
smlr_df = df[['UNITID',
             'INSTNM',
             'CITY',
             'STABBR',
             'ZIP',
             'ADM_RATE',
             'UGDS',
             'TUITIONFEE_IN',
             'MN_EARN_WNE_P10']]

### 8. Download and read the data dictionary file - https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx

### 9. Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook in a Markdown cell so that the readers of your notebook will know the meaning of these variables.  

| Acronym | Definition |
| ----------- | ----------- |  
| INSTNM | Institution Name |
| UNITID | Instiution ID |  
| CITY | City where institution is found  
| STABBR | State  
| ZIP | Zip Code  
| ADM_RATE | Admit Rate  
| UGDS | Undergraduate   
| TUITIONFEE_IN | Tuition Fee  
| MN_EARN_WNE_P10 | Treasury AY

### 10. Explore the smaller data frame

    - Look at the first 10 colleges   
    - look at the last 10 colleges
    - Look at a random sample of 10 colleges  
    - Find and display UMBC 
    - Find Univ. of Maryland College Park
    - Find and display Loyola College Maryland
    - Find and display Johns Hopskins
    - Calculate the min, max, and average in-state tution of the above four institutions.

In [ ]:
# First 10 colleges in smaller df
smlr_df.head(10)

In [ ]:
# Last 10 colleges in smaller df
smlr_df.tail(10)

In [ ]:
# Sample of 10 random colleges in smaller df
smlr_df.sample(10)

### 10. Making a specific data frame
- Find and display UMBC 
- Find Univ. of Maryland College Park
- Find and display Loyola College Maryland
- Find and display Johns Hopskins

In [ ]:
# Let's look for them quickly. We know the admit rate for them is low.
# This should also help verify what name UMBC is. All the other names should be the same.

mos_df = focused_df[focused_df["STABBR"] == 'MD'].sort_values(by = 'ADM_RATE')[0:20]

In [ ]:
#We found the names from above, so we can directly select them.
md_names = ['University of Maryland-Baltimore County',
            'Johns Hopkins University',
            'University of Maryland-College Park',
            'Loyola University Maryland']

#Now we can just add them into the df
md_names_df = smlr_df[smlr_df["INSTNM"].isin(md_names)]

md_names_df

### 10b. Last Step
- Calculate the min, max, and average in-state tution of the above four institutions.

* min = .min
* max = .max
* average = .mean()

In [ ]:
# We have the data frame. Now we can do the next part.
print(f"${md_names_df['TUITIONFEE_IN'].min()} min")
print(f"${md_names_df['TUITIONFEE_IN'].max()} max")

# Average
method_1 = md_names_df['TUITIONFEE_IN'].sum() / len(md_names_df['TUITIONFEE_IN'])
method_2 = md_names_df['TUITIONFEE_IN'].mean()

print(f"${method_1} average")

---
## Part 4. Exporting the data
Using data frame conditions and .to_csv

 
### 11. Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. 

Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. Upload this file to your GitHub along with the notebook.

 *Don't try multiple conditions. Use isin*

* df = df[df[category].isin[condition]
* df.to_csv('filename.csv')

In [ ]:
#five states colleges
five_states_colleges = smlr_df[smlr_df["STABBR"].isin(["MD", "VA", "DC", "PA", "DE"])]

five_states_colleges.to_csv('Five_States_Colleges.csv')

In [ ]:
import seaborn as sns

x=smlr_df['TUITIONFEE_IN']
y=smlr_df['ADM_RATE']

#Create a boxplot with seaborn 'sns' .boxplot,
sns.boxplot(x,y, data=smlr_df)

In [ ]:
x=smlr_df['ADM_RATE']
y=smlr_df['TUITIONFEE_IN']

sns.regplot(x,y, data=smlr_df)

In [ ]:
smlr_df.corr()['TUITIONFEE_IN'].sort_values(ascending=True)